.postContainer{
    margin: 10px;
    padding: 10px;
    text-align: center;
    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
    background-color: white;
}


.image-post{
    max-width: 100%;
}


.background-post{
    background-color: #f6f5f6
}
  