.postContainer{
  margin: 10px;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 21px 116px -60px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 21px 116px -60px rgba(0,0,0,0.55);
  box-shadow: 0px 21px 116px -60px rgba(0,0,0,0.55);
}

.logo-navbar{
  width: 50px;
  height: 50px;
}
