.postContainer{
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* -webkit-box-shadow: 0px 21px 116px -60px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 21px 116px -60px rgba(255,255,255,0.8);
  box-shadow: 0px 21px 116px -60px rgba(255,255,255,0.8); */
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  background-color: white;
}

.logo-navbar{
  width: 50px;
  height: 50px;
}

.navbar-top{
  background-color: #292a39 !important;
  background-image:
  linear-gradient(
    to top right, 
    #292a39, #525472
  );
}

.sidebar-content{
  background-image:
    linear-gradient(
      to bottom, 
      #292a39, #525472
    );
  width: 250px;
  height: 100%;
}

.button-navbar{
  color: #A69CAC;
  border-color: #A69CAC;
}

.button-navbar:hover {
  background-color: #A69CAC; /* Green */
  color: #292a39;
  border-color: #292a39;
}

.image-background{
  background-image: url("background.jpg");
}

.img-post-icon{
  width: 30px;
  height: 30px;
}

.section-sidebar{
  padding-top: 14px;
}

.hr-title-sidebar{ 
  border: 0;
  height: 1px;
  margin-top:6px;
  padding:0px;
  background-image: linear-gradient(to right, #292a39, #A69CAC, #292a39);
}

.section-sidebar-title{
  font-size: 22px;
  color: #A69CAC;
  padding-left: 14px;
  padding-right: 14px;
}

.image-post{
  max-width: 100%;
}

.sidebar-link{
  font-size: 18px;
}

.section-sidebar-link{
  margin: 0px 14px 0px 14px;
  padding: 5px;
}

.category-label{
  padding-left:5px;
  position:relative; 
  top:2px;
}

.a-sidebar-link, .a-sidebar-link:hover{
  text-decoration:none; 
  color:inherit;
}

@media (max-width: 992px) {
  .container {
     width: 98% !important;
  }
}

.background-post{
  background-color: #f6f5f6
}