.postContainer{
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* -webkit-box-shadow: 0px 21px 116px -60px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 21px 116px -60px rgba(255,255,255,0.8);
  box-shadow: 0px 21px 116px -60px rgba(255,255,255,0.8); */
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  background-color: white;
}

.logo-navbar{
  width: 50px;
  height: 50px;
}

.navbar-top{
  background-color: #292a39 !important;
  background-image:
  linear-gradient(
    to top right, 
    #292a39, #525472
  );
}

.sidebar-content{
  background-image:
    linear-gradient(
      to bottom, 
      #292a39, #525472
    );
  width: 250px;
  height: 100%;
}

.button-navbar{
  color: #A69CAC !important;
  border-color: #A69CAC !important;
}

.button-navbar:hover {
  background-color: #A69CAC !important; /* Green */
  color: #292a39 !important;
  border-color: #292a39 !important;
}

.button-navbar:focus {
  background-color: #A69CAC !important; /* Green */
  color: #292a39 !important;
  border-color: #292a39 !important;
}

.img-post-icon{
  width: 30px;
  height: 30px;
}

.section-sidebar{
  padding-top: 14px;
}

.hr-title-sidebar{
  border: 0;
  height: 1px;
  margin-top:6px;
  padding:0px;
  background-image: linear-gradient(to right, #292a39, #A69CAC, #292a39);
}

.section-sidebar-title{
  font-size: 22px;
  color: #A69CAC;
  padding-left: 14px;
  padding-right: 14px;
}

.image-post{
  max-width: 100%;
}

.sidebar-link{
  font-size: 18px;
}

.section-sidebar-link{
  margin: 0px 14px 0px 14px;
  padding: 5px;
}

.category-label{
  padding-left:5px;
  position:relative; 
  top:2px;
}

.a-sidebar-link, .a-sidebar-link:hover{
  text-decoration:none; 
  color:inherit;
}

@media (max-width: 992px) {
  .container {
     width: 98% !important;
  }
}

.background-post{
  background-color: #f6f5f6
}

.sidebar-button-hide{
  position:absolute;
  z-index:999;
  left: 264px;
  top: 14px;
}

.sidebar-button-show{
  position:absolute;
  z-index:999;
  display: block;
  left: 14px;
  top: 14px;
}

.login-background{
  background-color: rgba(82, 84, 114, 0.9);
  -webkit-filter: blur(3px);
  width: 100%;
  height: 100%;
}

.form-login-info-title{
  color: white;
  font-size: 22px;
}

i.active {
  color: #A69CAC !important;
}

label.active {
  color: #A69CAC !important;
}

input:focus {
  border-bottom: 1px solid #A69CAC !important;
  box-shadow: 0 1px 0 0 #A69CAC !important;
}

.form-login-title{
  color: #A69CAC;
  font-size: 30px;
  font-weight: bold;
}

.form-color{
  color: #A69CAC !important;
}

@media only screen and (min-width : 800px) {

  @media only screen and (min-height : 650px) {
    .div-content{
      height: 100vh;
      padding-bottom: 60px;
    }
  }

  @media only screen and (max-height : 649px) {
    .div-content{
      height: 650px;
      padding-bottom: 60px;
    }
  }

  .form-login-info-right{
    background-color: transparent;
    height: 100%;
    position: absolute;
    top: 22%;
    right: 0px;
    width: 35%;
  }
  
  .form-login-info-left{
    background-color: transparent;
    height: 100%;
    position: absolute;
    top: 22%;
    left: 0px;
    width: 35%;
  }

  .form-login{
    background-color: white;
    height: 550px;
    position: absolute;
    top: -35px;
    left: 7%;
    -webkit-box-shadow: 0px 21px 116px -60px rgba(0,0,0,1);
    -moz-box-shadow: 0px 21px 116px -60px rgba(0,0,0,1);
    box-shadow: 0px 21px 116px -60px rgba(0,0,0,1);
    -moz-box-shadow:    inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow:         inset 0 0 2px #000000;
    width: 60%;
  }
  
  .transition-login-right{
    transition: transform 0.5s;
    transform: translate(44%, 0px);
  }
  
  .transition-login-left{
    transition: transform 0.5s;
    transform: translate(0px, 0px);
  }

  .login-content{
    height: 480px;
  }
}

div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

div::-webkit-scrollbar
{
    width: 12px;
    background-color: #525472;
}

div::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #525472;
}


@media only screen and (max-width : 799px) {
  @media only screen and (min-height : 770px) {
    .div-content{
      height: 100vh;
      padding-bottom: 60px;
    }
  }

  @media only screen and (max-height : 769px) {
    .div-content{
      height: 770px;
      padding-bottom: 60px;
    }
  }

  .form-login-info-right{
    background-color: transparent;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
  }
  
  .form-login-info-left{
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
  }

  .form-login{
    background-color: white;
    height: 450px;
    position: absolute;
    top: -35px;
    left: 7%;
    -webkit-box-shadow: 0px 21px 116px -60px rgba(0,0,0,1);
    -moz-box-shadow: 0px 21px 116px -60px rgba(0,0,0,1);
    box-shadow: 0px 21px 116px -60px rgba(0,0,0,1);
    -moz-box-shadow:    inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow:         inset 0 0 2px #000000;
    width: 86%;
  }
  
  .transition-login-right{
    transition: transform 0.5s;
    transform: translate(0px, 48%);
  }
  
  .transition-login-left{
    transition: transform 0.5s;
    transform: translate(0px, 0px);
  }

  .login-content{
    height: 600px;
  }

  .divs-inline-max-width{
    display: inline-block
  }
}